.ranking-header {
  margin-top: 10rem;
  height: 18rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: #181a18;
  
}

.smashHouseLogo {
  width: 18rem;
}

.Temporada {
  font-size: 6rem;
}

.ranking-body {
  display: flex;
  flex-direction: row;
  height: 100rem;
}

.texto-temporada {
  font-size: 3rem;
  text-align: center;
  border: solid;
}

.ranking-body-1 {
  display: flex;
  width: 20%;
  min-width: 35rem;
  flex-direction: column;
  max-height: 100%;
  overflow: scroll;
  color: #181a18;
  background-color: #e2e8f0;
  padding-right: 10rem;
  flex-shrink: 0;
}

.ranking-body-1::-webkit-scrollbar {
  display: none;
}

ul {
  list-style-type: none;
}

.ranking-body-2 {
  display: flex;
  background-color: #e2e8f0;
  width: 60%;
  flex-direction: column;
  flex-shrink: 0;
  overflow: scroll;
}

.ranking-body-2::-webkit-scrollbar {
  display: none;
}

.ranking-body-3 {
  display: flex;
  background-color: #e2e8f0;
  width: 20%;
  flex-shrink: 4;
}

.render-tournaments {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.rendered-tournament {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  border: solid;
}

.tournament-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.tournament-name {
  display: flex;
  justify-content: center;
}

.tournament-data2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50%;
}

.tournament-data3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50%;
  max-height: 100%;
}

.season-tournament-standing {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 10%;
}

.season-tournament-player {
  display: flex;
  width: 100%;
}

.rank-table {
  display: flex;
  flex-direction: column;
}

.rank-table-season {
  height: 12rem;
  font-size: 5rem;
  display: flex;
  align-items: flex-end;
  background-color: #e2e8f0;
  color: #181a18;
  font-style: italic;
}

.rank-table-header {
  display: flex;
  flex-direction: row;
  height: 5rem;
  background-color: #181a18;
  font-size: 2.5rem;

}

.rank-table-size {
    display: flex;
    flex-direction: row;
  }

.rank-table-size :nth-child(1){
    width: 10%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  border-right: solid;
  border-color: #181a18;
}

.rank-table-size :nth-child(2){
    width: 40%;
    padding-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.rank-table-size :nth-child(3){
    width: 30%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.rank-table-size :nth-child(4){
    width: 10%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rank-table-size :nth-child(5){
    width: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank-table-body {
  display: flex;
  flex-direction: row;
  height: 8rem;
  border: solid;
  color: #181a18;
  font-size: 3rem;
}

.tournaments-per-player-container{
  display: none;
  gap: 50%;
  margin-left: 10%;
  color: #181a18;
  border: solid;
}

.tournaments-per-player{
  display: flex;
  flex-direction: column;
  width: 100px;
}

.placings-per-player{
  display: flex;
  justify-content: center;
}



.container2{
  display: flex;
}




@media only screen and (max-width: 800px){

.smashHouseLogo{
  display: none;
}

.ranking-body-3{

}

.ranking-body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ranking-header{
  display: flex;
  margin-top: 50%;
  justify-content: center;
}

.rank-table-header {
  display: flex;
  flex-direction: row;
  height: 5rem;
  background-color: #181a18;
  font-size: 2rem;

}


.rank-table-body {
  display: flex;
  flex-direction: row;
  height: 8rem;
  border: solid;
  color: #181a18;
  font-size: 2.5rem;

}

.ranking-body-1 {
  display: flex;
  flex-direction: row;
  color: #181a18;
  width: 100%;
  background-color: #e2e8f0;
  overflow: scroll;
  overflow-y: hidden;
  min-width: 30rem;
}

#texto-temporada{
  display: flex;
  justify-content: center;
  height: 28rem;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.ranking-body-1::-webkit-scrollbar{
  display:none;
}

.rendered-tournament{
  width: 30rem;
  height: 28rem;

}

.ranking-body-2{
  width: 100%;
  overflow:scroll;
  height: 100%;
}

}