.video{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.videoList{
    color: black;
    flex-direction: column;
    display: flex;
    height: 26rem;
    overflow-y: scroll;
}


.videoList::-webkit-scrollbar{
    display:none;
}

.videos{
    font-size: 1.3rem;
    background-color: whitesmoke;
    border: solid;
    width: 19rem;
    flex: 0 0 5rem;
    flex-direction: row;
}

.videoComponent{
    display: flex;
    flex-direction: column;
}

.videoSocial1{
    border: solid;
    height: 7rem;
}

.videoSocial2{
    border: solid;
    height: 7rem;
    padding-left: 0.7rem;
}

.videoSocial{
    background-color: whitesmoke;
    color: black;
}

.twitchLogo{
    width: 17rem;
    margin-left: 1rem;
    padding-top: 1rem;
    
}

.youtubeLogo{
    width: 17rem;
    height: 6rem;
}

.videoImage{
    width: 100%;
    border: solid;
    border-radius: 1rem;
    border-color: whitesmoke;
    cursor: pointer;
}

.videoImage:hover{
    opacity: 0.4;
}

@media only screen and (max-width: 600px){
    .video{
        margin-top: 29rem;
        display: flex;
        flex-direction: column;
    }

    .youtubeVideoPlayer{
        width: 100%;
        height: 30rem;
    }

    .videoSocial1{
        border: solid;
        height: 7rem;
        display: flex;
        justify-content: center;
    }
    
    .videoSocial2{
        border: solid;
        height: 7rem;
        padding-left: 0.7rem;
        display: flex;
        justify-content: center;
    }
    
    .videoSocial{
        background-color: whitesmoke;
        color: black;
        display: flex;
        flex-direction: column;
    }

    .videos{
        width: 100%;
        height: 300rem;
        display: flex;
        background-color: tomato;
    }

    .videoImage{
        width: 100%;
        border: solid;
        border-radius: 1rem;
        border-color: whitesmoke;
        cursor: pointer;
    }
}