.ranking-container{
    display: flex;
    margin-top: 10rem ;
}


.ranking-1{

    background-color: darkcyan;
    width: 40rem;
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    
}

.ranking-1-title{
    display: flex;
    flex-direction: row;
    background-color: black;
}

.smashHouseLogo{
    width: 10rem;
}

.Temporada-topic{
    font-size: 3rem;
    text-align: center;
    line-height: 10rem;
}

.ranking-body-1 {
  display: flex;
  flex-direction: column;
  max-height: 200rem;
  overflow: scroll;
  color: #181a18;
  padding-right: 10rem;
  flex-shrink: 0;
}

.ranking-body-1::-webkit-scrollbar {
  display: none;
}

ul {
  list-style-type: none;
}

.render-tournaments {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 40rem;
}

.rendered-tournament {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  gap: 0.5rem;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);   
padding-bottom: 5rem;
}

.rendered-tournament-topic{
    margin-top: 2rem;
    color: whitesmoke;
    
}

.tournament-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
  
  .tournament-name {
    display: flex;
    justify-content: center;
  }
  
  
  
  .tournament-data3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 100%;
    gap: 1rem;
    font-size: x-large;
    color: whitesmoke;
    margin-bottom: 0rem;
  }
  
  .season-tournament-standing {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

  .season-tournament-icon {
    display: flex;
    background-color: cadetblue;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}
  
  .season-tournament-player {
    display: flex;
    width: 20rem;
    background-color: cornflowerblue;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);}
  