.ranking-container{
    display: flex;
    margin-top: 10rem ;
}

.ranking-body {
    display: flex;
    flex-direction: row;
    height: 150rem;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);   
    color: whitesmoke;
    padding-left: 10rem;
    width: 100%;
    justify-content: center;
    padding-bottom: 20rem;
  }

.ranking-1{
    width: 40rem;
    display: flex;
    flex-direction: column;
    min-width: 40rem;
    height: 150rem;
    overflow: scroll;
}

.ranking-1::-webkit-scrollbar{
  display: none;
}

.ranking-1-title{
    display: flex;
    flex-direction: row;
    background-color: black;
}

.smashHouseLogo{
    width: 10rem;
}

.Temporada-topic{
    font-size: 3rem;
    text-align: center;
    line-height: 10rem;
}

.ranking-body-1 {
  display: flex;
  flex-direction: column;
  max-height: 200rem;
  overflow: scroll;
  color: #181a18;
  padding-right: 10rem;
  flex-shrink: 0;
}

.ranking-body-1::-webkit-scrollbar {
  display: none;
}

ul {
  list-style-type: none;
}

.render-tournaments {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 40rem;
}

.rendered-tournament {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  gap: 0.5rem;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);   
  padding-bottom: 5rem;
}

.rendered-tournament-topic{
    margin-top: 2rem;
    color: whitesmoke;
}

.tournament-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
  
  .tournament-name {
    display: flex;
    justify-content: center;
  }
  
  
  
  .tournament-data3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 100%;
    gap: 1rem;
    font-size: x-large;
    color: whitesmoke;
  }
  
  .season-tournament-standing {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

  .season-tournament-icon {
    display: flex;
    background-color: cadetblue;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}
  
  .season-tournament-player {
    display: flex;
    width: 20rem;
    background-color: cornflowerblue;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}
  


.ranking-body-2 {
    display: flex;
    width: 80rem;
    flex-direction: column;
    flex-shrink: 0;
    color: whitesmoke;
    justify-content: flex-start;
    align-items: center;
    background-color: #181a18;
    border-radius: 60px;
    margin-top: 5rem;
    margin-right:40rem;
    }
  
  .ranking-body-2::-webkit-scrollbar {
    display: none;
  }

  .rank-table {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    justify-content: flex-start;
    align-items: center;
  }

  .rank-table::-webkit-scrollbar {
    display: none;
  }
  
  #rank-table-season{
    font-size: 5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: whitesmoke;;
    font-style: italic;
  }
  
  #rank-table-season :hover{
    cursor: pointer;
  }
  
  .dropdownList{
    position:sticky;
    display: none;
    flex-direction: column;
    width: 100%;
    background-color:#181a18 ;  
  }
  
  
  .dropdownList div{
  border: solid;
  color:#e2e8f0;
  }
  

.leaderboard{
  display: flex;
  height: 20rem;
  width: 100%;
  line-height: 12rem;
  padding-top:5rem ;
  position: sticky;
}

.leaderboard div{
  display: flex;
  margin-left: 3rem;
}

.corona-img{
  width: 10rem;
  height: 9rem;
}

  .rank-table-header {
    display: flex;
    flex-direction: row;
    height: 5rem;
    background-color: #181a18;
    font-size: 2.5rem;
  
  }

  .rank-table-size {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    border-radius:60px;
    width: 60rem;
    height: 40rem;
    align-items: center;
    justify-content: center;
  }
  
   #rank-table-header {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      border-radius:60px;
      gap: 10rem;
    }

    


    .rank-table-size :nth-child(1){
      width: 10%;
      text-align: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    
  }

  .image-icon{
    width: 5rem;
    height:5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 50%;
}
  
  .rank-table-size :nth-child(3){
      width: 40%;
      padding-left: 1rem;
      height: 100%;
      display: flex;
      align-items: center;
  }
  
  .rank-table-size :nth-child(4){
      width: 30%;
      text-align: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .rank-table-size :nth-child(5){
      width: 10%;
      text-align: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  
  .rank-table-size :nth-child(6){
      width: 10%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .rank-table-body {
    display: flex;
    flex-direction: row;
    height: 10rem;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    color: whitesmoke;
    font-size: 3rem;
  }
  
  .tournaments-per-player-container{
    display: none;
    gap: 5%;
    margin-left: 10%;
    color: whitesmoke;
  }
  
  .tournaments-per-player{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
  }
  
  .placings-per-player{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
  }
  
  .score-per-player{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
  }
  
  
  .container2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .ranking-body-3{
    display: none;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);   

  }

  .explicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  