footer {
  height: 100%;
  background-color: #181a18;
  color: white;
  display: flex;
  gap: 3rem;
  text-align: center;
  width: 100%;
}

.footerSection {
  width: 33%;
}

.firstLine1 {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: center;
}

.footerSection img {
  width: 7rem;
  height: 7rem;
}

.google-maps-link {
  margin-left: 5px;
}

.topNavigation-2 {
  display: flex;
  padding-left: 9vw;
  padding-top: 1vw;
  gap: 20px;
}

.topNavigation-2 a img{
    width: 30px;
    height: 30px;
}



@media only screen and (max-width: 800px) {
  footer {
    height: 100%;
    margin-top: 0;
    color: white;
    display: flex;
    gap: 3rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .footerSection {
    width: 100%;
  }
}
