footer{
    height: 100%;
    margin-top: 10rem;
    background-color: #181A18;
    color: white;
    display: flex;
    gap: 3rem;

}

.footerSection{
    width: 33%;
}

.firstLine1{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: center;
}



.footerSection img{
    width: 7rem;
    height: 7rem;
}

@media only screen and (max-width: 600px){

    footer{
        height: 100%;
        margin-top: 10rem;
        color: white;
        display: flex;
        gap: 3rem;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .footerSection{
        width: 100%;
    }



}
