

.login-place {
  background: rgba(0,0,0,1);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  z-index: 12;
  display: flex;
  flex-direction: column;
  width: 45rem;
  height: 60rem;
  justify-content: center;
  text-align: start;
  margin-top: 4%;
  border-radius: 13%;
  color: white;
}

.login-place img{
  width: 20rem;
  margin-left: 30%;
  margin-top: 6rem;
}

.login-section {
  flex-direction: row;
  background-color: RGBA(0, 0, 0, 0.5);
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 10;
  justify-content: center;
  position: fixed;
}

.login-text {
  margin-bottom: 3rem;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  color: white;
}



.login-input{
 margin-left: 10%;
 margin-bottom: 30%;
 font-size: 2.5rem;
 display: flex;
 flex-direction: column;
 gap :0.5rem;
}

.login-input input{
  background-color: transparent;
  border: none;
  border-bottom: solid;
  width: 85%;
  color: white;
  font-size: 2rem;

}

.login-input .login-button{
  margin-top: 5rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  height: 3rem;
  border-width:0.01rem;
  border-color: white;
  background-color: transparent;
  color: white;
}

.login-input input:focus{
  outline: none;
}

.or-text{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-right: 3.5rem;
}

.login-input .signup-button{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  height: 3rem;
  border-width:0.01rem;
  border-color: white;
  background-color: transparent;
  color: white;
}

.signup-section{

  flex-direction: row;
  background-color: RGBA(0, 0, 0, 0.5);
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 10;
  justify-content: center;
  position: fixed;
}

.signup-place {
  background: rgba(0,0,0,1);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  z-index: 12;
  display: flex;
  flex-direction: column;
  width: 45rem;
  height: 60rem;
  justify-content: center;
  text-align: start;
  margin-top: 4%;
  border-radius: 13%;
  color: white;
}

.signup-place img{
  width: 20rem;
  margin-left: 30%;
}